:root {
    --white: #F7F7F7;
    --lightblue: #BAE0ED;
    --darkcyan: #73A9B2;
    --cyan: #41C1BA;
    --darkblue: #365B6D;
    --darkblue2: #4E5272;
}
html, body {
    overflow: hidden;
}

main {
    width: 100vw;
    height: calc(100vh - 90px);
    background-color: var(--darkcyan);
}

form {
    background-color: var(--white);
    width: 100vw;
    display: flex;
}

form > div {
    width: 50%;
}

form > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 20px;
}

form > div:nth-child(1) > span {
    height: 60px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
}

form > div:nth-child(1) > span label {
    color: var(--darkcyan);
    font-weight: bold;
}

form > div:nth-child(1) > span input {
    height: 30px;
    border: none;
    background-color: var(--darkblue);
    border-bottom: 3px solid var(--darkcyan);
    color: var(--white);
    font-weight: bold;
}

form > div:nth-child(1) > span:nth-child(3) > span {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

form > div:nth-child(1) > span:nth-child(3) > span > label  {
    width: 200px;
    height: 20px;
    margin-top: 6px;
}

form > div:nth-child(1) > span:nth-child(3) > span > span {
    margin-right: 50px;
    
    display: flex;
}

form > div:nth-child(1) > span:nth-child(3) > span > span label {
    margin-top: 6px;
    margin-left: 5px;
}

form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

form > div:nth-child(2) > input {
    padding: 10px;
    width: 150px;
    margin: -50px auto 50px auto;
    border: none;
    background-color: var(--darkblue);
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

form > div:nth-child(2) > div {
    display: flex;
}

form > div:nth-child(2) span {
    width: 50%;
    padding: 80px 10px;
}

form > div:nth-child(2) img {
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
}

form > div:nth-child(2) span > label {
    margin: 10px auto;
    display: block;
    text-align: center;
    width: 140px;
}

@media screen and (max-width: 850px) {
    html, body {
        overflow-y: scroll;
    }
    form {
        flex-direction: column;
    }
    form > div {
        width: 100%;
    }
    form > div:nth-child(2) img {
        width: 150px;
    }
}

