@media screen and (max-width: 1165px) {
    
    main section:nth-child(2) > div:nth-child(1) h1 {
        font-size: 3em;
    }
    main section:nth-child(2) > div:nth-child(1) p {
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {
    main section:nth-child(2) > div:nth-child(1) div:nth-child(1) {
        margin-bottom: 30px;   
    }
    main section:nth-child(2) > div:nth-child(1) img {
        width: 100px;
        top: -30px;
    }
    main section:nth-child(2) > div:nth-child(1) h1 {
        font-size: 2.5em;
    }
    main section:nth-child(2) > div:nth-child(2) div p {
        font-size: 1em;
    }
    main section:nth-child(3) div div h1 {
        font-size: 2.5em;
    }
    main section:nth-child(3) div div p {
        font-size: 1em;
    }
    main section:nth-child(5) > div:nth-child(1) > div h1 {
        font-size: 3em;
    }
    main section:nth-child(5) > div:nth-child(1) > div > p {
        font-size: 1em;
    }
}

@media screen and (max-width: 860px) {
    main section:nth-child(4) > div:nth-child(1)  h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 825px) {
    main section:nth-child(1) div h1 {
        font-size: 2.5em;
    }
    main section:nth-child(2) > div:nth-child(1) div:nth-child(1) {
        margin-bottom: 10px;   
    }
    main section:nth-child(2) > div:nth-child(1) h1 {
        font-size: 2em;
    }
    main section:nth-child(2) > div:nth-child(2) div p {
        font-size: 0.8em;
    }
    main section:nth-child(3) div div h1 {
        font-size: 2em;
    }
    main section:nth-child(3) div div p {
        font-size: 0.9em;
    }
    main section:nth-child(5) > div:nth-child(1) > div h1 {
        font-size: 2.5em;
    }
    main section:nth-child(5) > div:nth-child(1) > div > p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 700px) {
    main section:nth-child(2) > div:nth-child(2) {
        flex-direction: column;
        align-items: center;
    }
    main section:nth-child(2) > div:nth-child(2) div {
        margin: 5px 0;
    }
    main section:nth-child(4) > div:nth-child(1)  h1 {
        font-size: 2.5em;
    }
    main section:nth-child(4) > div:nth-child(1) p  {
        font-size: 0.9em;
        width: 250px;
    }
    main section:nth-child(4) > div:nth-child(1) a {
        font-size: 1em;
        padding: 5px 10px;
    }
    main section:nth-child(5) > div:nth-child(1) > div h1 {
        font-size: 2em;
        width: 200px;
    }
    main section:nth-child(5) > div:nth-child(1) > div > p {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    
    main section:nth-child(2) > div:nth-child(1) p {
        font-size: 0.9em;
        width: 200px;
        margin-left: -20px;
    }
    main section:nth-child(3) div div {
        margin-left: 15px;
        
    }
    main section:nth-child(3) div div p {
        text-align: center;
    }
    main section:nth-child(4) > div:nth-child(1)  h1 {
        font-size: 2em;
        margin: auto;
    }
    main section:nth-child(4) > div:nth-child(1) p  {
        
        width: 200px;
    }
    main section:nth-child(5) {
        flex-direction: column;
        height: 100%;
    }
    main section:nth-child(5) > div:nth-child(1) {
        width: 100%;
        padding: 50px 0;
    }
    main section:nth-child(5) > div:nth-child(1) > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    main section:nth-child(5) > div:nth-child(1) > div > div:nth-child(3) {
        align-self: flex-start;
        width: 100%;
    }
    main section:nth-child(5) > div:nth-child(1) > div > div:nth-child(3) img:nth-child(1) {
        left: 80px;
        
    }
    
    main section:nth-child(5) > div:nth-child(1) > div > div:nth-child(3) img:nth-child(2) {
        left: 90px;
    }
    main section:nth-child(5) > div:nth-child(1) > div h1 {
        width: 150px;
    }
    
    main section:nth-child(5) > div:nth-child(2) {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    main section:nth-child(4) > div:nth-child(1) > div {
        margin: 102px 0 0 35px;
        padding: 230px 0 0 20px;
    }

    main section:nth-child(4) > div:nth-child(1) {
        height: 1000px;
        width: 800px;
        margin-left: -60px;
    }

    main section:nth-child(4) > div:nth-child(1) p {
        margin-top: 75;
    }

    main section:nth-child(4) > div:nth-child(2) {
        margin-left: -70px;
    }
    
}